.nav li
{
    display: inline-block;
    margin: 10px;
    border: 1px solid;
    padding:5px;
}

li
{
    list-style: none;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 30%;
}

th {
    height: 50px;
}